n8n/cleanup_cron_workflow.json
{
  "name": "Auto Delete 24h old images",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env[\"SUPABASE_URL\"]}}/rest/v1/uploads?created_at=lte.{{$now.minus({ hours: 24 }).toISO()}}",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Get Old Uploads",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 450, 300 ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase Service Role"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Item Lists",
      "type": "n8n-nodes-base.itemLists",
      "typeVersion": 1,
      "position": [ 650, 300 ]
    },
    {
      "parameters": {
        "operation": "delete",
        "cloudName": "your_cloud_name",
        "publicId": "={{$json[\"original_url\"].split('/').pop().split('.')[0]}}"
      },
      "name": "Delete Original Cloudinary",
      "type": "n8n-nodes-base.cloudinary",
      "typeVersion": 1,
      "position": [ 850, 200 ]
    },
    {
      "parameters": {
        "operation": "delete",
        "cloudName": "your_cloud_name",
        "publicId": "={{$json[\"processed_url\"].split('/').pop().split('.')[0]}}"
      },
      "name": "Delete Processed Cloudinary",
      "type": "n8n-nodes-base.cloudinary",
      "typeVersion": 1,
      "position": [ 850, 400 ]
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "={{$env[\"SUPABASE_URL\"]}}/rest/v1/uploads?id=eq.{{$json[\"id\"]}}",
        "authentication": "headerAuth",
        "options": {}
      },
      "name": "Delete from Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 1050, 300 ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [ [ { "node": "Get Old Uploads", "type": "main", "index": 0 } ] ]
    },
    "Get Old Uploads": {
      "main": [ [ { "node": "Item Lists", "type": "main", "index": 0 } ] ]
    },
    "Item Lists": {
      "main": [ 
        [ 
          { "node": "Delete Original Cloudinary", "type": "main", "index": 0 },
          { "node": "Delete Processed Cloudinary", "type": "main", "index": 0 }
        ] 
      ]
    },
    "Delete Original Cloudinary": {
      "main": [ [ { "node": "Delete from Supabase", "type": "main", "index": 0 } ] ]
    }
  }
}
