n8n/process_image_workflow.json
{
  "name": "Process Image Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "process-image",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [ 250, 300 ]
    },
    {
      "parameters": {
        "url": "={{$node[\"Webhook\"].json[\"body\"][\"image_url\"]}}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Fetch Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 450, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.remove.bg/v1.0/removebg",
        "authentication": "headerAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_file",
              "parameterType": "form-data-binary"
            },
            {
              "name": "size",
              "value": "auto"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "Remove.bg API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 650, 300 ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "1",
          "name": "RemoveBG API Key"
        }
      }
    },
    {
      "parameters": {
        "cloudName": "your_cloud_name",
        "uploadPreset": "your_preset",
        "file": "={{$node[\"Remove.bg API\"].binary.data}}"
      },
      "name": "Cloudinary Upload",
      "type": "n8n-nodes-base.cloudinary",
      "typeVersion": 1,
      "position": [ 850, 300 ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env[\"SUPABASE_URL\"]}}/rest/v1/uploads?id=eq.{{$node[\"Webhook\"].json[\"body\"][\"upload_id\"]}}",
        "authentication": "headerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "processed_url",
              "value": "={{$node[\"Cloudinary Upload\"].json[\"secure_url\"]}}"
            },
            {
              "name": "status",
              "value": "completed"
            }
          ]
        },
        "options": {}
      },
      "name": "Update Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [ 1050, 300 ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Supabase Service Role"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Fetch Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Image": {
      "main": [
        [
          {
            "node": "Remove.bg API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove.bg API": {
      "main": [
        [
          {
            "node": "Cloudinary Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cloudinary Upload": {
      "main": [
        [
          {
            "node": "Update Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
